<body style="margin: 0; padding: 0;">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <style>
    div, p, span, strong, b, em, i, a, li, td {
       -webkit-text-size-adjust: none;
    }
    @media only screen and (max-width: 600px) {
    .astro_mail_footermenu{
      font-size: 12px!important;
    }
    td{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .astro_media_fsz{
      font-size: 14px!important;
    }
    .astro_media_title{
      font-size: 24px!important;
    }
    .astro_mail_padd{
      padding-right: 10%!important;
      padding-left: 10%!important;
    }
  }
  </style>
  <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#fbfbfb" style="background-color: #fbfbfb; border-spacing: 0px;padding: 0; max-width: 700px; min-width: 240px; width: 100%;">
    <tr>
      <td colspan="5" bgcolor="#ab1861">
        <img border="0" src="<%= attachments['astro_mixtape_email_logo.png'].url %>" alt="Astro" width="100%" height="auto" style="display: block; max-height: 120px">
      </td>
    </tr>
    <tr>
      <td rowspan="9" width="4%" height="auto"></td>
      <td width="80%" height="auto">
        <table width="100%" height="auto" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
          <tr>
            <td width="100%" style="padding-left: 25px; padding-top: 24px;">
              <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hi,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @user.first_name.blank? ? @user.full_name : @user.first_name %></span> </span>
            </td>
          </tr>
          <tr>
            <td width="100%" style="padding-left: 25px; padding-top: 24px;">
              <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">
                Thanks for signing up to Astro DJ! All you need to do now is confirm your registration. Please click the link below:
                <br />
                <%= link_to 'Confirm registration', astroweb_verify_url(verification_token: @user.verification_token) %>
                <br />
                Remember to take out a subscription or enjoy a 7 day free trial. <br />
                Make your choice at <a href="http://astrologydj.com/subscription/index/">this page</a>.

              </span>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 25px; padding-top: 24px;">
              <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;">Thanks,</span>
            </td>
          </tr>
          <tr>
            <td style="padding: 24px 0 15px 25px;">
              <span class="astro_media_fsz astro_media" style="font-family: Raleway, Arial; font-size: 16px; line-height:24px;">Jollean<br>Astro DJ Support</span>
            </td>
          </tr>
          <tr>
            <td bgcolor="#cccccc" height="1px" style="margin: 0; padding: 0; line-height: 1px;">
              <img border="0" src="<%= attachments['astro_mixtape_header_line.png'].url %>" alt="" width="100%" height="1px" style="display: block;"></td>
            </tr>
          <tr>
            <td width="100%" style="padding:15px 0 15px 25px;">
              <span class="astro_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="http://astrologydj.com/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53; padding-right: 25px;">Astro Dj official web site</span></a><a href="mailto:support@astrologydj.com" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">Contact us</span></a> </span>
            </td>
          </tr>
          <tr>
            <td bgcolor="#cccccc" height="1px" style="margin: 0; padding: 0; line-height: 1px;">
              <img border="0" src="<%= attachments['astro_mixtape_header_line.png'].url %>" alt="" width="100%" height="1px" style="display: block;"></td>
            </tr>
        </table>
      </td>
      <td rowspan="9" width="4%" height="auto"></td>
    </tr>
    <tr>
      <td colspan="5" align="center">
        <span  style="font-family: Arial; font-size: 12px; color: #999; line-height:40px;" >Copyright &#169; 2014 Astro DJ. All rights reserved</span>
      </td>
    </tr>
  </table>
</body>
