Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,
Thanks for signing up to Astro DJ! All you need to do now is confirm your registration. Please click the link below:

Confirm registration - <%= astroweb_verify_url(verification_token: @user.verification_token) %>

Remember to take out a subscription or enjoy a 7 day free trial.
Make your choice at this page - http://astrologydj.com/subscription/index/

Thanks,
Jollean
Astro DJ Support
