Hi <%= @user.first_name %>,

Thanks for signing up for tunehog Discover! All you need to do now is confirm your registration. Just head to the link below:

<%= discovery_verify_url(verification_token: @user.verification_token) %>

Just before you do that, here’s a few suggestions to get you started, once confirmed your registration…

tunehog Discover contains a universe of more than 30 million songs;
It will bring you new music that matches your tastes;
You can hear songs from thousands of emerging artists, free of charge, and put yourself right at the cutting edge of new music trends;
Download the songs you love and store them in your music library.

That's all for now, thanks for getting involved!

Jollean (tunehog Discover Support)
