Hello <%= @user.email %>!
Someone has requested a link to change your password. You can do this through the link below.
<%= link_to 'Change my password', edit_user_password_url(:reset_password_token => @token) %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.

Thanks,
Jollean
tunehog Discovery Support
