<table cellpadding="0" cellspacing="0" border="0" width="750" align="center" style="font-family: arial">
  <tr>
    <td width="750" height="72" valign="top" background="<%= attachments['dwl_mailer_header.jpg'].url %>" >
    </td>
  </tr>
  <tr>
    <td style="color:#000000; font-family: arial;" valing="top">
      <div style="width:585px; margin: 0 0 0 82px; text-align: justify;">
        <br/>
        <br/>
        <b>Thank you for registering at Digital White Label.</b>
        <br/>
        <br/>
        <br/>
        You are just a few clicks away from accessing a new fan club, dedicated to giving you exclusive material not available anywhere else.
        <br/>
        <br/>
        Please click to the following link to confirm your email address and details, and then enjoy the exclusive content at your finger tips.
        <br/>
        <br/>
      </div>
    </td>
  </tr>
  <tr >
    <td>
      <table caellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td width="72"></td>
          <td width="615" height="85" background="<%= attachments['dwl_mailer_black-box.jpg'].url %>" style="color: #ffffff; padding: 0px 20px">
            <%= link_to 'Сonfirm your email.', dwl_verify_url(verification_token: @user.verification_token) %>
          </td>
          <td width="72"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="color:#000000; font-family:arial;" valing="top">
      <div style="width:585px; margin: 0 0 0 82px; text-align: justify;">
        <br/>
        Enjoy.
        <br/>
        <br/>
        /Digital White Label
        <br/>
        <br/>
        Powered by <a href="https://tunehog.com">tunehog</a> and part of the R&R group of companies.
      </div>
    </td>
  </tr>
</table>