Thank you for registering at Digital White Label.

You are just a few clicks away from accessing a new fan club, dedicated to giving you exclusive material not available anywhere else.
Please click to the following link to confirm your email address and details, and then enjoy the exclusive content at your finger tips.

Сonfirm your email - <%= dwl_verify_url(verification_token: @user.verification_token) %>

Enjoy.
/Digital White Label
Powered by tunehog and part of the R&R group of companies. https://tunehog.com