<table cellpadding="0" cellspacing="0" border="0" width="750" align="center" style="font-family: arial">
  <tr>
    <td width="750" height="72" valign="top" background="<%= attachments['dwl_mailer_header.jpg'].url %>" >
    </td>
  </tr>
  <tr>
    <td style="color:#000000; font-family: arial;" valing="top">
      <div style="width:585px; margin: 0 0 0 82px; text-align: justify;">
        <br/>
        <br/>
        Someone has requested a link to change your password. You can do this through the link below.
        <br />
        If you didn't request this, please ignore this email.
        <br />
        Your password won't change until you access the link above and create a new one.
        <br/>
        <br/>
      </div>
    </td>
  </tr>
  <tr >
    <td>
      <table caellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td width="72"></td>
          <td width="615" height="85" background="<%= attachments['dwl_mailer_black-box.jpg'].url %>" style="color: #ffffff; padding: 0px 20px">
          <%= link_to 'Change my password', edit_user_password_url(:reset_password_token => @token, :edit_password_url => "#{Settings.dwl_site}/users/password/edit") %>
          </td>
          <td width="72"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="color:#000000; font-family:arial;" valing="top">
      <div style="width:585px; margin: 0 0 0 82px; text-align: justify;">
        <br/>
        Enjoy.
        <br/>
        <br/>
        /Digital White Label
        <br/>
        <br/>
        Powered by <a href="https://tunehog.com">tunehog</a> and part of the R&R group of companies.
      </div>
    </td>
  </tr>
</table>