Hello <%= @user.email %>!
Someone has requested a link to change your password. You can do this through the link below.
<%= link_to 'Change my password', edit_user_password_url(:reset_password_token => @token, :edit_password_url => "#{Settings.dwl_site}/users/password/edit") %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.

Enjoy.
/Digital White Label
Powered by tunehog and part of the R&R group of companies. https://tunehog.com