<p>
  Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,
</p>
<p>
  Thanks for signing up to <%= @product %>! All you need to do now is confirm your registration. Just head to the link below:
</p>
<p>
  <%= link_to 'Confirm registration', verify_url(verification_token: @user.verification_token) %>
</p>
<p>
  And now that you've got tunehog on your desktop, why not get it on your mobile too? Head to our <a href="https://apps.tunehog.com/">Apps Page</a> and check out how tunehog can stay with you while you're on the move.
</p>
<p>
  That's all for now, thanks for getting involved!
</p>
<p>
  - Jollean (<%= @product %> Community Support)
</p>
<p style="color: #555555;">
  Got a question? Send me an email via <a href="mailto:support@tunehog.com">support@tunehog.com</a> and I'll get back to you as soon as possible!
</p>
<p style="color: #555555;">
  Keep up to date with everything tunehog and follow us on <a href="https://facebook.com/tunehog">Facebook</a> and <a href="https://twitter.com/tunehog">Twitter</a>
</p>
