Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,
Thanks for signing up to <%= @product %> ! All you need to do now is confirm your registration. Just head to the link below:
Confirm registration - <%= verify_url(verification_token: @user.verification_token) %>
And now that you've got tunehog on your desktop, why not get it on your mobile too? Head out to our Apps Page (https://apps.tunehog.com/) and check out how tunehog can stay with you while you're on the move.
That's all for now, thanks for getting involved!
- Jollean (<%= @product %> Community Support)
---------------
Got a question? Send me an email via support@tunehog.com and I'll get back to you as soon as possible!
Keep up to date with everything tunehog and follow us on Facebook(https://facebook.com/tunehog) and Twitter(https://twitter.com/tunehog)
