<!DOCTYPE HTML>
<html>
<head>
  <title>Cadenza</title>
  <meta charset="UTF-8"/>
</head>
<body style="margin:0px; padding:0px;">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="font-family: arial; max-width: 640px; background: #fff;">
    <tr height="150px">
      <td valign="middle" align="center" style="border-top:1px solid #d4d5d9; border-left:1px solid #d4d5d9; border-right:1px solid #d4d5d9;" ><a href="http://cadenza.tunehog.com"><img src="<%= attachments['cadenza_email_header.png'].url %>" /></a></td>
    </tr>
    <tr>
      <td valign="top" style="border-left:1px solid #d4d5d9; border-right:1px solid #d4d5d9; border-bottom:1px solid #d4d5d9; padding: 0 40px; color: #7d7e80; font-size: 14px; line-height: 1.5;">
        <p style="color: #4b4b4c; font-size: 24px; margin-top: 0; margin-bottom: 10px;">Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,</p>
        <p style="margin-bottom: 20px;">Thanks for signing up to <a style="color: #335e80; text-decoration: none;" href="http://cadenza.tunehog.com">Cadenza</a>, the A&R tool that gets people talking.</p>
        <p style="margin-bottom: 20px;">By sonically analysing your track, Cadenza gives you insights into what makes your music work - who will like it, other tracks it sounds like, where you might find success.</p>
        <p style="padding-bottom: 25px; border-bottom:1px solid #d4d5d9; margin: 0;">Thanks,<br /> The Cadenza team</p>
        <p style="margin-bottom: 20px; padding-top: 10px; color:#a2a3a6;">Still have a question? Feel free to send us an email via <a style="color: #335e80; text-decoration: none;" href="mailto:support@tunehog.com">support@tunehog.com</a> and we will get back to you as soon as possible.
        <p style="color:#a2a3a6;margin-bottom: 20px;">Don’t forget, you can like us on <a style="color: #335e80; text-decoration: none;" href="https://www.facebook.com/tunehog">Facebook</a> and follow us on <a style="color: #335e80; text-decoration: none;" href="https://twitter.com/tunehog">Twitter</a>. We’d love to hear from you!"</p>
      </td>
    </tr>
    <tr>
      <td valign="top" height="10">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" height="10">
          <tr>
            <td width="20" height="10" style="background:#30b93d; height: 10px;"></td>
            <td height="10" style="background:#105b84; height: 10px;"></td>
            <td width="20" style="background:#30b93d; height: 10px;"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
