Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,

Thanks for signing up to Cadenza, the A&R tool that gets people talking.

By sonically analysing your track, Cadenza gives you insights into what makes your music work - who will like it, other tracks it sounds like, where you might find success.

Thanks,
The Cadenza team

Still have a question? Feel free to send us an email via support@tunehog.com and we will get back to you as soon as possible.
Don’t forget, you can like us on Facebook and follow us on Twitter. We’d love to hear from you!
