
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <style>
    div, p, span, strong, b, em, i, a, li, td {
     -webkit-text-sizedjust: none;
   }
   @media only screen and (max-width: 600px) {
    .first-player_mail_footermenu{
      font-size: 12px!important;
    }
    td{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .first-player_media_fsz{
      font-size: 14px!important;
    }
    .first-player_media_title{
      font-size: 24px!important;
    }
    .first-player_mail_padd{
      padding-right: 10%!important;
      padding-left: 10%!important;
    }
  }
</style>

</head>
<body style="margin: 0; padding: 0;">
<!--[if mso]>
   <center>
   <table width="700"><tr><td>
    <![endif]-->
    <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#fbfbfb" style="background-color: #fbfbfb; border-spacing: 0px;padding: 0; max-width: 700px; min-width: 240px;">
      <tr>
        <td colspan="5" style="margin: 0; padding: 0; line-height: 120px;">
          <span height="100%" width="auto" style="diplay: block;">
            <img border="0" src="<%= attachments['first-player_email_logo.png'].url %>" alt="first-player" width="100%" style="display: block; max-height: 120px;"></span>
          </td>
        </tr>
        <tr>
          <td rowspan="8" width="4%" height="auto"></td>
          <td width="80%" height="auto">
            <table width="100%" height="auto" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
              <tr>
                <td width="100%" style="padding-left: 25px; padding-top: 24px;">
                  <span class="first-player_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="first-player_mail_username"><%= @user.email %>!</span> </span>
                </td>
              </tr>
              <tr>
                <td width="100%" style="padding-left: 25px; padding-top: 24px;">
                  <span class="first-player_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">Someone has requested a link to change your password. You can do this through the link below.</span>
                </td>
              </tr>
              <tr>
                <td style="padding-left: 25px; padding-top: 24px;">
                  <span class="first-player_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333;">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</span>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 15px 0 15px;">
                  <div>
                    <!--[if mso]>
                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-textnchor:middle;width:300px;" arcsize="10%" stroke="f" fillcolor="#d62828">
                        <w:anchorlock/>
                        <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold;">
                          Button Text Here!
                        </center>
                      </v:roundrect>
                      <![endif]-->
                      <![if !mso]>
                      <table cellspacing="0" cellpadding="0"> <tr>
                        <td align="center" width="200" height="50" bgcolor="#db1a43" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; ">
                          <a href="<%= edit_user_password_url(:reset_password_token => @token) %>" style="font-size:16px; font-weight: 300; font-family: Raleway, Arial; text-decoration: none; line-height:50px; width:100%; display:inline-block; position: relative;">
                            <span style="color: #fff;">
                              Change my password
                            </span>
                          </a>
                        </td>
                      </tr> </table>
                      <![endif]>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-left: 25px; padding-top: 24px;">
                    <span class="first-player_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;">Thanks,</span>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 24px 0 15px 25px;">
                    <span class="first-player_media_fsz first-player_media" style="font-family: Raleway, Arial; font-size: 16px; line-height:24px; font-weight: 700;">Jollean<br>My First Player Support</span>
                  </td>
                </tr>
                <tr>
                  <td width="100%" style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">
                    <table width="100%" height="auto" align="center" cellpadding="15" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tr>
                    <td align="left" width="40%">
                      <span class="first-player_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="http://tunehog.com/" target="_blank" style="color: #666 !important; text-decoration: none;"><span style="color: #666;">tunehog web site</span></a></span>
                    </td>
                    <td align="left" width="35%">
                      <span class="first-player_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="mailto:support@tunehog.com" target="_blank" style="color: #666 !important; text-decoration: none;"><span style="color: #666;">Contact us</span></a></span>
                    </td>
                    <td align="right" width="25%">
                      <span class="first-player_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="https://play.google.com/store/apps/details?id=com.rnrmusic.myfirstplayer" target="_blank" style="cursor: pointer; text-decoration: none; display:block;"><span class="no-webkit" style="display: block;">
                      <img src="<%= attachments['first-player_email_gp.png'].url %>" height="40" width="115" />
                    </span>
                    </a></span>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" height="auto" align="center" cellpadding="15" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tr>
                    <td colspan="3" align="center" width="40%">
                      <span  style="font-family: Arial; font-size: 12px; color: #999; height: 40px; width: 40%;" >Copyright &#169; 2014 My First Player. All rights reserved</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td rowspan="9" width="4%" height="auto"></td>
      </tr>

    </table>
                       <!--[if mso]>
                       <center>
                       <table width="700"><tr><td>
                        <![endif]-->
                      </body>
                      </html>
