Hi <%= @user.first_name %>,

Thanks for signing up to My First Player! All you need to do now is confirm your registration. Just head to the link below:

Just before you do that, here’s a quick reminder of some of the key features you can look forward to enjoying once you’ve confirmed your registration…

My First Player has been designed specifically with kids in mind, and will help them find great music they’ll simply love listening to;
While we were developing My First Player, we were also keen to keep parents in mind too, so we’ve included lots of great features to help you feel confident and in control of your kids’ musical journey;
Safety comes as standard – we’ve already set filters and blocks in place so that you know your kids won’t stumble across anything inappropriate.

<%= mobile_myfirstplayer_verify_url(verification_token: @user.verification_token) %>

That's all for now, thanks for getting involved!

Jollean (My First Player Support)
