Hi <%= @user.first_name %>,

Thanks for signing up for tunehog Radio! All you need to do now is confirm your registration. Just head to the link below:

<%= radio_verify_url(verification_token: @user.verification_token) %>

Just before you do that, here’s a few suggestions to get you started, once confirmed your registration…

tunehog Radio beautifully combines online radio with your personal tastes;
You can choose from one of our ready-to-go radio stations;
Experiment with our search engine to find your own perfect radio station;
Keep your eye on what’s trending, and tailor your listening choices with our social recommendations.

If you’re happy to check out music from exciting new acts and emerging artists, you can continue to use this service free of charge. 

But with subscriptions for tunehog Radio starting at only £2.99 per month, we can extend your listening pleasure and open up the rest of our music universe for you, giving you full access to our entire commercial catalogue.

That's all for now, thanks for getting involved!

Jollean (tunehog Radio Support)
