Hi, <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>.

Thanks for signing up for Sounds Like Me!

You’re only a few clicks away from a fun, informative and captivating experience. All you need to do now is confirm your registration. Just head to the link below.

Here are a few Sounds Like Me quick-facts to get you started:

We’ll play you some music. 
Then we’ll analyse your preferences and - based on that - we can create a detailed personality profile, especially for you.
It’s all based on decades of research. But most importantly, it’s a lot of fun.

Stay tuned … we’ve got a few Sounds Like Me tricks up our sleeves which will make it even more entertaining for you and the people you’ll share your results with.

<%= link_to 'Confirm registration', slm_verify_url(verification_token: @user.verification_token) %>

That's all for now, thanks for getting involved!

Thanks,
Jollean
SLM Support
