Hi, <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>

Thanks for signing up to SnapJam! All you need to do now is confirm your registration. Just head to the link below.

Just before you do that, here’s a few suggestions for fun things to do once you’ve downloaded the app, and confirmed your registration…

Open SnapJam and take a photo, or upload a photo from your phone’s gallery;
Check out what songs it suggests and pick the one that speaks to you. Or sings to you;
Share it on Twitter and/or Facebook;
You could tag your friends – especially if the SnapJams are of photos they’re in’

That’s it, really. Now you just need to get SnapJammin’..!

<%= link_to 'Confirm registration', snap_jam_web_verify_url(verification_token: @user.verification_token) %>

That's all for now, thanks for getting involved!

Jollean
Snapjam Support
