
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <style>
    div, p, span, strong, b, em, i, a, li, td {
     -webkit-text-size-adjust: none;
   }
   @media only screen and (max-width: 600px) {
    .snapjam_mail_footermenu{
      font-size: 12px!important;
    }
    td{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .snapjam_media_fsz{
      font-size: 14px!important;
    }
    .snapjam_media_title{
      font-size: 24px!important;
    }
    .snapjam_mail_padd{
      padding-right: 10%!important;
      padding-left: 10%!important;
    }
  }
</style>

</head>
<body style="margin: 0; padding: 0;">
<!--[if mso]>
   <center>
   <table width="700"><tr><td>
    <![endif]-->
    <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#fbfbfb" style="background-color: #fbfbfb; border-spacing: 0px;padding: 0; max-width: 700px; min-width: 240px;">
      <tr>
        <td colspan="5" style="margin: 0; padding: 0; line-height: 120px;">
          <span height="100%" width="auto" style="diplay: block;">
            <img border="0" src="<%= attachments['snapjam_email_logo.png'].url %>" alt="snapjam" width="100%" style="display: block; max-height: 120px;"></span>
          </td>
        </tr>
        <tr>
          <td rowspan="8" width="4%" height="auto"></td>
          <td width="80%" height="auto">
            <table width="100%" height="auto" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
              <tr>
                <td width="100%" style="padding-left: 25px; padding-top: 24px;">
                  <span class="snapjam_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="snapjam_mail_username"><%= @user.email %>!</span> </span>
                </td>
              </tr>
              <tr>
                <td width="100%" style="padding-left: 25px; padding-top: 24px;">
                  <span class="snapjam_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">Someone has requested a link to change your password. You can do this through the link below.</span>
                </td>
              </tr>
              <tr>
                <td style="padding-left: 25px; padding-top: 24px;">
                  <span class="snapjam_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333;">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</span>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 15px 0 15px;">
                  <div>
                    <!--[if mso]>
                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:50px;v-text-anchor:middle;width:200px;" arcsize="2%" stroke="f" fillcolor="#ff7620">
                        <w:anchorlock/>
                        <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold;">
                          Confirm registration
                        </center>
                      </v:roundrect>
                      <![endif]-->
                      <![if !mso]>
                      <table cellspacing="0" cellpadding="0"> <tr>
                        <td align="center" width="200" height="50" bgcolor="#ff7620" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; ">
                          <a href="<%= edit_user_password_url(:reset_password_token => @token) %>" style="font-size:20px; font-weight: 300; font-family: Raleway, Arial; text-decoration: none; line-height:50px; width:100%; display:inline-block;">
                            <span style="color: #fff;">
                              Change password
                            </span>
                          </a>
                        </td>
                      </tr> </table>
                      <![endif]>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-left: 25px; padding-top: 24px;">
                    <span class="snapjam_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;">Thanks,</span>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 24px 0 15px 25px;">
                    <span class="snapjam_media_fsz snapjam_media" style="font-family: Raleway, Arial; font-size: 16px; line-height:24px; font-weight: 700;">Jollean<br>SnapJam Support</span>
                  </td>
                </tr>
                <tr>
                  <td width="100%" style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">
                    <table width="100%" height="auto" align="center" cellpadding="15" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tr>
                    <td align="left" width="40%">
                      <span class="snapjam_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="http://snapjam.tunehog.com/" target="_blank" style="color: #666 !important; text-decoration: none;"><span style="color: #666;">SnapJam official web site</span></a></span>
                    </td>
                    <td align="left" width="35%">
                      <span class="snapjam_mail_footermenu"style="font-family: 'Open Sans', sans-serif, 'Arial'; font-size: 14px; color: #999;"><a href="mailto:support@tunehog.com" target="_blank" style="color: #666 !important; text-decoration: none;"><span style="color: #666;">Contact us</span></a></span>
                    </td>
                    <td align="right" width="25%">
                      <a href="https://itunes.apple.com/us/app/snapjam/id776001450?ls=1&mt=8" target="_blank" style="cursor: pointer; text-decoration: none; display:block"><span class="no-webkit" style="display: block;">
                  <img src="<%= attachments['snapjam_email_getapps.png'].url %>" height="40" width="135" alt="The Learning People" />
                </span>
                  <!--[if !mso 9]><!-->
                <p class="is-webkit" style="display:none; max-height:0px; overflow:hidden; margin: 0; padding: 0;">
                    <img src="<%= attachments['snapjam_email_getapps.svg'].url %>" height="40" width="135" alt="et it on appstore" onerror="this.onerror=null; this.src='<%= attachments['snapjam_email_getapps.png'].url %>'"/>
                  </p>
                  <!--<![endif]-->
              </a>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" height="auto" align="center" cellpadding="15" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tr>
                    <td colspan="3" align="center" width="40%">
                      <span  style="font-family: Arial; font-size: 12px; color: #999; height: 40px; width: 40%;" >Copyright &#169; 2014 SnapJam. All rights reserved</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td rowspan="9" width="4%" height="auto"></td>
      </tr>

    </table>
                       <!--[if mso]>
                       <center>
                       <table width="700"><tr><td>
                        <![endif]-->
                      </body>
                      </html>

