Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,

Thanks for signing up to Star Tune! All you need to do now is confirm your registration. Just head to the link below.

Just before you do that, here’s a quick reminder of some of the key features you can look forward to enjoying once you’ve confirmed your registration…

Star Tune is a place where music and astrology are in harmony together. Here you can enjoy reading your daily horoscope along with listening to a Daily Playlist which is specifically designed to suit your astrological profile.

To enjoy our streaming Radio service, you'll need to uprade to Premium account. At the moment, we can only provide Premium accounts to people in the UK and the US. But there are lots of other great features on Star Tune that are free for everyone!

Want to know more? Drop us a message at support@startune.me and we’ll get back to you as soon as we can.

Enjoy!

<%= mobile_startune_verify_url(verification_token: @user.verification_token) %>

That's all for now, thanks for getting involved!

Jollean (Star Tune Support)
