<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<!--link rel="stylesheet" type="text/css" href="stylesheets/email.css" /-->
<style>
  * { 
    margin:0;
    padding:0;
  }
  * { font-family: Roboto, Arial; }

  img { 
    max-width: 100%; 
    border:none;
  }
  .collapse {
    margin:0;
    padding:0;
  }
  body {
    -webkit-font-smoothing:antialiased; 
    -webkit-text-size-adjust:none; 
    width: 100%!important; 
    height: 100%;
  }
</style>
</head>
 
<body bgcolor="eeeeee">
<!--[if mso]>
  <center>
  <table width="700"><tr><td>
<![endif]-->
  <table style="width:100%;border-collapse:collapse;" bgcolor="eeeeee">
    <tr>
      <td style="display:block!important; max-width:600px!important;padding-bottom:20px;margin:0 auto!important;clear:both!important;">

        <div style="max-width:640px; padding:0px; max-width:600px;  margin:0 auto;  display:block;">
        <table style="width:100%;border-collapse:collapse;">
          <tr>
            <td height="105" background="<%= attachments['startune_top.jpg'].url %>" style="padding: 15px 40px 0 30px" valign="top" bgcolor="391336"> 
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td height="87px"><a href="http://startune.me" style="display: block;max-width: 294px;width: 100%;"><img src="<%= attachments['startune_logo.png'].url %>" style="display: block;width: 100%;"/></a></td>
                  <td width="36">
                    <a href="https://www.facebook.com/StarTuneApp" style="height:36px;width:36px;display:block;text-decoration:none;"><img src="<%= attachments['startune_fb.png'].url %>"></a>
                  </td>
                  <td width="36">
                    <a href="https://twitter.com/StartuneApp" style="height:36px;width:36px;display:block;text-decoration:none;"><img src="<%= attachments['startune_tw.png'].url %>"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding:25px 15px;">
              <div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Hello <%= @user.email %>!</div>
              <p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Someone has requested a link to change password. You can do this through the link below.</p>
              <a href="<%= edit_user_password_url(:reset_password_token => @token) %>" style="font-family:Roboto, Arial;color:#6534c2;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;text-decoration:none;">Change my password</a>
              <br/>
              <br/>
              <br/>
              <p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">If you didn't request this, please ignore this email.</p>
              <p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Your password won't change until you access the link above and create a new one.</p>
              <p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:700;line-height:32px;margin:0;pading:0;">Jollean (Star Tune Support)</p>
              
            </td>
          </tr>
          <tr><td bgcolor="#ffffff" height="35" style="padding:0; margin:0;"></td></tr>
          <tr><td bgcolor="#ffffff" style="padding: 0px 15px" valign="middle">
            <table cellpadding="0" cellspacing="0" border="0" height="60" width="100%" bgcolor="#e6e7e8">
              <tr>
                <td style="padding:0 0 0 20px;"><a href="http://startune.me" style="font-family:Roboto, Arial;color:#666666;font-size:14px;font-weight:400;text-align:left;line-height:60px;text-decoration:none;">startune.me</a></td>
                <td style="padding:0 20px 0 0; text-align:right;"><a href="mailto:support@startune.me" style="font-family:Roboto, Arial;color:#666666;font-size:14px;font-weight:400;text-align:right;line-height:60px;text-decoration:underline;">Contact us</a></td>
              </tr>
            </table>
          </td></tr>
          <tr><td bgcolor="#ffffff" height="45" style="padding:0; margin:0;font-family:Roboto, Arial;color:#999999;font-size:12px;font-weight:400;text-align:center;">Copyright &copy; 2014 Star Tune.  All rights reserved</td></tr>
        </table>
        </div>
                    
      </td>
      <td></td>
    </tr>
  </table>
<!--[if mso]>
  </td></tr></table>
  </center>
<![endif]-->
</body>
</html>
