Hi <%= @user.first_name.blank? ? @user.full_name : @user.first_name %>,
Thanks for signing up to <%= @product %> ! All you need to do now is confirm your registration. Just head to the link below:
Confirm registration - <%= url_for controller: 'users/verifies', action: 'verify', verification_token: @user.verification_token, service: @service, only_path: false %>
<% if @service != 'webastro' %>
If you signed up to enter the competition to win an Xbox One, remember to head off to the Apple App Store and download SnapJam - then get snapping and sharing.
And now that you've got tunehog on your desktop, why not get it on your mobile too? While you're at the App Store getting SnapJam, search for 'tunehog Radio' to get tunehog on the move.
That's all for now, thanks for getting involved!
<% end %>
- Jollean (<%= @product %> Community Support)
<% if @service != 'webastro' %>
---------------
Got a question? Send me an email via support@tunehog.com and I'll get back to you as soon as possible!
Keep up to date with everything tunehog and follow us on Facebook(https://facebook.com/tunehog) and Twitter(https://twitter.com/tunehog)
<% end %>
