<p>Dear <%= @download_request.user.display_name %></p>
<p>This email confirms your purchase of <%= "#{@download_request.track.title}, by #{@download_request.track.artist_name}" %>. Please follow the download link below to download your track.</p>
<p><%= link_to 'Download', @download_request.download_url %></p>
<p>Best Regards<br>
tunehog</p>
