<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span  style="font-family: Raleway, Arial; font-size: 16px; color:#333;">Hi.</span>
  </td>
</tr>
<tr>
  <td align="center" style="padding:15px 0;" class="astro_mail_padd">
    <span class="astro_media_title" style="font-family: Georgia; font-style: italic; font-size: 30px; color:#333;">You’ve sent a Gift!</span>
  </td>
</tr>
<tr>
  <td bgcolor="#cccccc" height="1px" style="margin: 0; padding: 0; line-height: 1px;">
    <img border="0" src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_header_line.png" %>" alt="" width="100%" height="1px" style="display: block;"></td>
  </tr>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 15px;">
    <span style="font-family: Raleway, Arial; font-size: 16px; line-height: 24px;" class="astro_media">You have sent an Astro Mixtape to&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @mixtape.recipient_name %></span>. Want to send another one? Head back over to &nbsp;<a href="http://astrologydj.com/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">http://astrologydj.com/</span></a></span>
  </td>
</tr>
<tr>
  <td style="padding: 15px 0 15px 25px;">
    <span style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;">To review what you have sent&nbsp;<a href="<%= @mixtape_url %>" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">click here</span></a><span>.</span></span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px;">
    <span style="font-family: Raleway, Arial; font-size: 16px; line-height: 24px;" class="astro_media">Do you have the Astro DJ App yet? If not, please subscribe at&nbsp;<a href="http://astrologydj.com/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">http://astrologydj.com/</span></a>&nbsp;and get your personal horoscope with Astro DJ's unique combination of horoscopes and music.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span style="font-family: Raleway, Arial; font-size: 16px;">Thanks,</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media" style="font-family: Raleway, Arial; font-size: 16px; line-height:24px;">Jollean<br>Astro DJ Support</span>
  </td>
</tr>
<tr>
  <td style="padding: 25px 0 15px">
    <table width="100%" height="auto" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
      <tr>
        <td align="right" width="auto" style="margin: 0;">
          <a href="<%= @mixtape_url %>" target="_blank" style="cursor: pointer; text-decoration: none;"><span style="margin: 0; padding: 0; line-height: 15px;"><img border="0" src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_email_bordrad1.png" %>" alt="" width="25px" height="50px" style="display: block;"></span></a>
        </td>
        <td align="center" width="176px" style="margin: 0;" bgcolor="#7f0e53">
          <a href="<%= @mixtape_url %>" target="_blank" style="cursor: pointer; text-decoration: none; display: block;"><span style="padding: 0; font-family: 'Raleway', 'Arial'; font-size: 18px; color: #fff; line-height: 50px;">View your Mixtape</span></a>
        </td>
        <td align="left" width="auto" style="margin: 0;">
          <a href="<%= @mixtape_url %>" target="_blank" style="cursor: pointer; text-decoration: none;"><span style="margin: 0; padding: 0; line-height: 15px;"><img border="0" src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_email_bordrad3.png" %>" alt="" width="25px" height="50px" style="display: block;"></span></a>
        </td>
      </tr>
    </table>
  </td>
</tr>
