<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span>!</span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">This email confirms your purchase of <%= @track_name %>. Please follow the download link below to download your track. Remember that you can only download your track once.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 10px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;"><a href="<%= @download_url %>" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">Download</span></a><span>.</span></span>
  </td>
</tr>
