<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hi,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span> </span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">You have just purchased <%= @hours %> additional hours of radio streaming for your Astro DJ subscription.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 10px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;">To review your subscription please go to:&nbsp;<a href="http://astrologydj.com/mixtape/index/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">http://astrologydj.com</span></a><span>.</span></span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333;">Please note that the additional hours are not transferable to the next subscription period.</span>
  </td>
</tr>
