<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span>!</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 10px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;">You have terminated your Astro DJ subscription. We're sorry to see you go! You can purchase a new subscription at any time.</span>
  </td>
</tr>
