<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span>!</span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">This is just a friendly reminder that your subscription for Astro DJ has automatically been renewed.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 10px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;">To review your subscription please go to subscription menu in your app or visit&nbsp;<a href="http://astrologydj.com/mixtape/index/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">astrologydj.com</span></a><span>.</span></span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 10px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px;  line-height: 24px;">Thank you for using Astro DJ. Why not try out&nbsp;<a href="http://astrologydj.com/mixtape/index/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">Astro DJ Mixtapes</span></a><span>&nbsp;today? Create a zodiac mixtape for a friend with a personalized message at&nbsp;<a href="http://astrologydj.com" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">astrologydj.com</span></a>!</span></span>
  </td>
</tr>
