<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span>!<br>&nbsp;thanks for subscribing to Astro DJ!</span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">Your Astro DJ subscription is now confirmed, and you're ready to explore a whole new world of astrology and music with the Astro DJ application. You can now enjoy the Daily Radio and all additional great features of Astro DJ!</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333;">Find out your daily reading and your perfect playlist, so you can discover more about yourself and some great music along the way!</span>
  </td>
</tr>
