<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hello,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span>!</span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">We apologize for the disruption in your service, but unfortunately your subscription to Astro DJ has been suspended. To continue using Radio Streaming features in the Astro DJ app you need to review your PayPal account and check if there are no payment delays.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333;">Once the payment has gone through you will get immediate access to all radio streaming features of Astro DJ app.</span>
  </td>
</tr>
