<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hi,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span></span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">I hope you are enjoying your trial with Astro DJ.<br>
    No one likes unpleasant surprises, so I thought you&rsquo;d like to know there are only 2 days left before your trial comes to an end.</span>
  </td>
</tr>
<tr>
  <td style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="line-height: 24px; font-family: Raleway, Arial; font-size: 16px; color:#333; font-weight: 600;">In case you missed the link to the application, here it is again:</span>
  </td>
</tr>
<tr>
  <td align="center" style="padding: 15px 0 15px;">
    <a href="https://itunes.apple.com/us/app/astro-dj/id893213614?mt=8" target="_blank" style="cursor: pointer; text-decoration: none;"><span><img src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_email_getapps.png" %>" alt="Ge app" style="width: 135px; height: 40px;"></span></a>
  </td>
</tr>
