<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;font-weight: 600;">Hi,&nbsp;<span style="font-family: Raleway, Arial; font-size: 16px;" class="astro_mail_username"><%= @username %></span></span>
  </td>
</tr>
<tr>
  <td width="100%" style="padding-left: 25px; padding-top: 24px;">
    <span class="astro_media_fsz" style="font-family: Raleway, Arial; font-size: 16px; color:#333;">The day has finally come when your trial with Astro DJ has run out!<br>
    But don&rsquo;t worry you can subscribe by visiting this page:<a href="http://astrologydj.com/subscription/index" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">http://astrologydj.com/subscription/index</span></a><span>.</span></span>
  </td>
</tr>
