<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="640" align="center" style="font-family: arial;">
<tr>
  <td height="57" style="background-color: #142633; padding: 13px 20px 0" valign="top">
     <table style="margin: 10px 0 0 0;" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td height="41px" width="100px"><a href="https://tunehog.com/"><%= image_tag(attachments['tunehog_logo.png'].url).html_safe %></a></td>
        <td width="420px">&nbsp;</td>
        <td width="50px"><a href="https://www.facebook.com/tunehog"><%= image_tag(attachments['fb.png'].url).html_safe %></a></td>
        <td><a href="https://twitter.com/tunehog"><%= image_tag(attachments['tw.png'].url).html_safe %></a></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="background-color:#85d3ee; text-align: center;" valign="top" height="520">
        <p style="font-size: 42px; margin: 27px 0;">You’ve got a gift!</p>
        <%= link_to image_tag(attachments['pack.png'].url).html_safe, @gifts_url %>
        <p style="font-size: 21px; line-height: 1.5; margin-top: 0;">
          <% unless @gift.mixtape? %>
                <% if @gift.recipient_name %>
                Hi <%= @gift.recipient_name %>,</br>
                <% end %>
                It looks like somebody has sent you a music gift!<br>
            <% else %>
                <%= @sender_name %> has made you a personalised Mixtape!</br>
            <% end %>
            Follow the link below and take a look:
        </p>
        <p style="margin:0 auto">
        <%= link_to image_tag(attachments['open_gift.png'].url).html_safe, @gifts_url %>
        </p>
  </td>
</tr>
<tr>
    <td style="background-color:#20abdc; padding: 0 30px; color:#2a2a29; font-size: 17px; line-height: 1.3;" valign="top" height="165">
        <p><b>Note:</b> Download links are only accessible once. Please do not interrupt the download process and do not pass the links to anyone. It is a gift just for you, after all!  You can <a style="color:#2a2a29; text-decoration: none; font-weight:bold;" href="<%= Settings.gifts_url %>/<%= @gift.gift_type %>/create">create your own gift or mixtape</a> with your favourite music and send it to your friends.  Enjoy! <br />
        - Jollean (tunehog Community Support) <br />
Got a question? Send me an email via <a style="color:#2a2a29; text-decoration:none; font-weight:bold;" href="mailto:info@tunehog.com">info@tunehog.com</a> and I'll get back to you as soon as possible!
Discover and be discovered with tunehog at <a style="color:#2a2a29; text-decoration:none; font-weight:bold;" href="https://tunehog.com/">www.tunehog.com</a> </p>
    </td>
</tr>
<tr>
  <td height="41px" style="background-color:#333; padding: 9px 15px 0;">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td valign="top" height="30px" width="375px" style="color:#ccc; font-size: 12px; padding-top:7px;">
        <a style="color:#ccc; text-decoration: none;" href="<%= Settings.gifts_url %>/constructor?a=<%= @gift.mixtape? ? 'mixtape' : 'ecard' %>">Send music gift </a>&nbsp;|&nbsp;
        <a style="color:#ccc; text-decoration: none;"  href="http://discovery.tunehog.com/">Discovery</a>&nbsp;|&nbsp;
        <a style="color:#ccc; text-decoration: none;"  href="<%= Settings.gifts_url%>/terms_and_conditions_url">Terms and Conditions</a><br/><br/>
        <a href="https://itunes.apple.com/us/app/tunehog-radio/id689286096?mt=8"><%= image_tag(attachments['app_store.png'].url).html_safe %></a>
        <a href="/"><%= image_tag(attachments['google_play.png'].url).html_safe %></a>
        </td>
        <td width="120">&nbsp;</td>
        <td width="110">&nbsp;</td>
        <td width="50"><a href="https://www.facebook.com/tunehog"><%= image_tag(attachments['fb_footer.png'].url).html_safe %></a></td>
        <td><a href="https://twitter.com/tunehog"><%= image_tag(attachments['tw_footer.png'].url).html_safe %></a></td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body>
