<!DOCTYPE HTML>
<html>
<head>
  <title>Discover and be discovered</title>
  <meta http-equiv="content-type" charset="UTF-8"/>
</head>
<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="980" align="center" style="font-family: arial">
  <tr>
    <td style="padding: 0;">
    <br />
    <br />
    <b>Hi <%= @username %>,</b>
    <br />
    <br />
      You have terminated your tunehog radio subscription, however you can still enjoy a wide range of emerging artists using our free non-commercial radio service.
    <br/>
    <br/>
      You can renew your subscription at any time choosing tunehog <a href="http://radio.tunehog.com/subscriptions" style="color: #2386B8;">subscription</a> option.
    <br />
    <br />
    </td>
  </tr>
  <tr>
    <td  style="padding: 0px; text-align: center; font-size: 16px;" valign="midle">
      <span style=" top: -15px; position: relative; padding: 0 40px 0 0; ">Keep up to date with everything tunehog and follow us on Facebook and Twitter </span><a href="https://facebook.com/tunehog" style=" border: none; margin: 0 7px 0 5px; "><img width="41" height="42" src="<%= image_path('/radio_mailer/facebook-icon.jpg') %>" alt=""/></a><a href="https://twitter.com/tunehog" style="border: none"><img width="41" height="41" src="<%= image_path('/radio_mailer/twitte-icon.jpg') %>" alt=""/></a>
    </td>
  </tr>
</table>
</body>
</html>
