<!DOCTYPE HTML>
<html>
<head>
  <title>Discover and be discovered</title>
  <meta http-equiv="content-type" charset="UTF-8"/>
</head>
<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="980" align="center" style="font-family: arial">
  <tr>
    <td style="padding: 0;">
    <br />
    <br />
    <b>Hi <%= @username %>,</b>
    <br />
    <br />
        You have terminated your tunehog radio subscription, however you can still enjoy a wide range of emerging artists using our free non-commercial radio service, you can renew your subscription at any time by following My Subscriptions and purchasing your chosen subscription option.
    <br />
    <br />
        Looking for something new? Try some of our other <a href="http://universe.tunehog.com/" style="color: #2386B8;">discovery services</a> - tunehog has a vast array of tools at your disposal, so you can discover more new music tailored just for you.
    <br />
    <br />
        - Jollean (tunehog Community Support)
        <br />
    <br />
    <br />
        Got a question? Send me an email via <a href="mailto:support@tunehog.com" style="color: #0072bc; text-decoration: none">support@tunehog.com</a> and I'll get back to you as soon as possible!
        <br />
    <br />
    <br />
    </td>
  </tr>
  <tr>
    <td  style="padding: 0px; text-align: center; font-size: 16px;" valign="midle">
      <span style=" top: -15px; position: relative; padding: 0 40px 0 0; ">Keep up to date with everything tunehog and follow us on Facebook and Twitter </span><a href="https://facebook.com/tunehog" style=" border: none; margin: 0 7px 0 5px; "><img width="41" height="42" src="<%= image_path('/radio_mailer/facebook-icon.jpg') %>" alt=""/></a><a href="https://twitter.com/tunehog" style="border: none"><img width="41" height="41" src="<%= image_path('/radio_mailer/twitte-icon.jpg') %>" alt=""/></a>
    </td>
  </tr>
</table>
</body>
</html>
