<div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Dear <%= @username %>,</div>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">
  This email confirms your purchase of <%= @product_name %>. Please follow the download link below to download your astrological report in pdf.
<br>
Enjoy!
</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">
  <%= link_to 'Download', @download_url %>
</p>
