<div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Hi <%= @username %>,</div>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Your Star Tune Premium account has now been cancelled. We're sorry to see you go! You can upgrade to a Premium account at any time at your Star Tune app.</p>
