<div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Hi <%= @username %>,</div>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">We apologize for the disruption in your service, but unfortunately your Star Tune Premium account has been suspended. To continue enjoying all features of Star Tune Premium account you need to review your PayPal account and check there are no payment delays.</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Once the payment has gone through you will get immediate access to your Star Tune Premium account. </p>
