<div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Hi <%= @username %>,</div>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">This is just a friendly reminder that your Star Tune Premium account has automatically been renewed.</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">To review your Premium account please go to your Star Tune app (Premium account's page in Side menu).</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Thank you for using Star Tune.</p>
