<div style="font-family:Roboto, Arial;color:#333333; font-size:16px;font-weight:700;text-align:left;margin-bottom:20px;">Hi <%= @username %>, thanks for upgrading to Star Tune Premium account!</div>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Your Star Tune Premium account is now confirmed, and you can now enjoy the Daily Radio and all additional great features of Star Tune!</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Find out your daily reading, and discover music that you're guaranteed to love, whether you're a stubborn Taurus, a fiery Aries or anything in between. Star Tune's vast catalogue means that you will always be matched with songs designed to reflect your astrological profile. You can like/dislike, buy and favourite any track, and continue to discover through YouTube.</p>
<p style="font-family:Roboto, Arial;color:#333333;font-size:16px;font-weight:400;line-height:32px;margin:0;pading:0;">Find out your daily reading and your perfect playlist, so you can discover more about yourself and some great music along the way!</p>
