<html itemscope itemtype="http://schema.org/Article">
<head>
  <meta itemprop="url" content="<%= @report_url %>">
</head>
<body>
  <span itemprop="name"><%= "#{@track.artist_name} - #{@track.title}" %></span>
  <span itemprop="description">Take a look at the science behind this track with tunehog's Cadenza</span>
  <img itemprop="image" src="<%= @track.image_url %>">
</body>
