web:
  static: public
<% if exists?(:app_ruby_debug) and app_ruby_debug %>
ruby:
  debug: true
<% end %>
environment:
  MAGICK_THREAD_LIMIT: <%= exists?(:app_magick_thread_limit) ? app_magick_thread_limit : 1 %>

<% if exists?(:cluster) and cluster %>
services:
  first-machine:
    singleton: false
    service: MisService
    config:
      name: mis_service

  second-machine:
    singleton: false
    service: MisService
    config:
      name: mis_service

<% else %>
services:
  MisService:
    config:
      name: mis_service
  JobMonitoringService:
    config:
      name: job_monitoring_service
<% end %>
queues:
  /queues/backwriter:
messaging:
  /queues/backwriter: BackwriterProcessor
pooling:
  web:
    type: shared
    lazy: false

