<!DOCTYPE HTML>
<html>
<head>
  <title>Music Manager</title>
  <meta charset="UTF-8"/>
</head>
<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="640" align="center" style="font-family: arial;">
<tr>
  <td height="57" style="background-color: #142633; padding: 13px 20px 0" valign="top">
      <table style="margin: 10 0 0 0;" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td height="41px" width="100px"><a href="https://tunehog.com/"><img src="<%= image_path('/newsletter/infringement/logo.png') -%>" /></a></td>
        <td width="420">&nbsp;</td>
        <td width="50"><a href="https://www.facebook.com/tunehog"><img src="<%= image_path('/newsletter/infringement/fb.png') -%>" /></a></td>
        <td><a href="https://twitter.com/tunehog"><img src="<%= image_path('/newsletter/infringement/tw.png') -%>" /></a></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" height="300" style="color:#4b4b4c; padding: 0 16px; font-size: 14px; line-height: 1.4; background: #f2f2f2; border-bottom: #d4d5d9 solid 1px; border-left: #d4d5d9 solid 1px; border-right: #d4d5d9 solid 1px;">
    <p style="color:#335e80; font-weight:bold; font-size: 18px;">Hello <%= @user.full_name %>,</p>
    <p>This is Jollean from tunehog support. We hope that you have been enjoying tunehog Beta. I'm getting in touch as it seems one of the songs you have posted in your Music Manager profile seem to belong to another artist:</p>
    <a href="<%= @track.musicmanager_url %>" style="color:#335e80; font-size: 18px; text-decoration: none; margin-left: 20px;"><%= @track.title %></a>
    <p style="margin: 22px 0;">Our system has identified the above as a recording by <span style="color:#335e80; font-weight: bold;"><%= @track.infringement_info[:artist_title] %></span>, therefore we are unable to host this material for emerging artists. </p>
    <p style="margin: 22px 0;">If you own the rights to this track or have the permission from the artist, label or rights holder to upload, publish and distribute the material, this content will not be removed from tunehog.</p>
    <p style="margin: 22px 0;">If we have not heard back from you with in 14 working days these tracks will be removed from your profile and our system.</p>
    <p style="margin: 22px 0;">If you have the correct permissions before we delete the material permanently or you feel like this report has been sent by mistake, it would be great if you could provide us with any documents that you may have that show the necessary permissions. Feel free to upload your own music anytime and please don't hesitate to contact me for further information.</p>
    <p style="margin: 22px 0;">We understand that due to our content migration from the R&R World and uPlaya, the material we have identified may have automatically been transferred to your profile . We apologise for any inconvenience and hope to improve our new platform with your help.</p>
    <p style="color:#45494c; text-align:right;margin: 35px 0 25px 0;"><strong>- team tunehog </strong></p>

  </td>
</tr>

</table>
</body>
</html>
