<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  <style>
    div, p, span, strong, b, em, i, a, li, td {
       -webkit-text-size-adjust: none;
    }
    @media only screen and (max-width: 600px) {
    td {
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .astro_media{
      line-height: 24px!important;
    }
    .astro_media_title{
      font-size: 24px!important;
    }
    .astro_mail_padd{
      padding-right: 10%!important;
      padding-left: 10%!important;
    }
  }
  </style>

</head>
<body style="margin: 0; padding: 0;">
  <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#fbfbfb" style="background-color: #fbfbfb; border-spacing: 0px;padding: 0; max-width: 700px; min-width: 240px; width: 100%;">
    <tr>
      <td colspan="3" bgcolor="#ab1861" style="margin: 0; padding: 0; line-height: 15px;"><img border="0" src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_email_logo.png" %>" alt="Astro" width="100%" height="auto" style="display: block; max-height: 120px"></td>
    </tr>
    <tr>
      <td rowspan="11" width="4%" height="auto"></td>
      <td width="80%" height="auto">
        <table width="100%" height="auto" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">

          <%= yield %>

          <tr colspan="3">
            <td align="center" width="40%" style="padding-bottom: 15px; padding-right: 20%; padding-left: 20%;">
              <span  style="font-family: Arial; font-size: 12px; color: #999;">This is your personal mixtape and cannot be sent again. If you want to send a mixtape to a friend please&nbsp;<a href="http://astrologydj.com/" target="_blank" style="color: #7f0e53 !important; text-decoration: none;"><span style="color: #7f0e53;">create a new one here</span></a> </span>
            </td>
          </tr>
          <tr>
            <td bgcolor="#cccccc" height="1px" style="margin: 0; padding: 0; line-height: 1px;">
              <img border="0" src="<%= "http://#{Settings.domain}/images/astro/astro_mixtape_header_line.png" %>" alt="" width="100%" height="1px" style="display: block;">
            </td>
          </tr>
        </table>
      </td>
      <td rowspan="11" width="4%" height="auto"></td>
    </tr>
    <tr>
      <td colspan="3" align="center">
        <span  style="font-family: Arial; font-size: 12px; color: #999; line-height:40px;" >Copyright &#169; 2014 Astro DJ. All rights reserved</span>
      </td>
    </tr>
  </table>
</body>
</html>
